iOSCoreLibrary.xcodeproj/project.xcworkspace/xcuserdata/
iOSCoreLibrary.xcodeproj/xcuserdata/
iOSCoreLibrarySampleApp/iOSCoreLibrarySampleApp.xcodeproj/project.xcworkspace/xcuserdata/
iOSCoreLibrarySampleApp/iOSCoreLibrarySampleApp.xcodeproj/xcuserdata/
